<div class="landing">

  <header class="header">
    <div class="container">
      <div class="header__logo">
        <div class="header__logo__img">
          <img src="assets/images/landing/pizza-logo.webp" alt="pizza-logo">
        </div>
        <a href="#" class="header__logo__title">{{ 'Logo' | transloco }}</a>
      </div>
      <nav class="header__nav">
        <div class="burger-menu">
          @if (!open()) {
            <svg (click)="open.set(true)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none"
                 stroke="var(--primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-menu-icon lucide-menu">
              <path d="M4 5h16"/>
              <path d="M4 12h16"/>
              <path d="M4 19h16"/>
            </svg>
          } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="var(--primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-x-icon lucide-x">
              <path d="M18 6 6 18"/>
              <path d="m6 6 12 12"/>
            </svg>
          }
        </div>
        <ul>
          <li><a (click)="scroll(pizza); onClose()">{{ 'Pizzas' | transloco }}</a></li>
          <li><a href="#">{{ 'Drinks' | transloco }}</a></li>
          <li><a (click)="scroll(placeOrder); onClose()">{{ 'Delivery-and-payment' | transloco }}</a></li>
          <li><a href="#">{{ 'Contacts' | transloco }}</a></li>
        </ul>
        <tui-drawer
          *tuiPopup="open()"
          direction="left"
          class="drawer"
          [overlay]="true"
          (click.self)="onClose()"
        >
          <ul>
            <li><a (click)="scroll(pizza); onClose()">{{ 'Pizzas' | transloco }}</a></li>
            <li><a href="#">{{ 'Drinks' | transloco }}</a></li>
            <li><a (click)="scroll(placeOrder); onClose()">{{ 'Delivery-and-payment' | transloco }}</a></li>
            <li><a href="#">{{ 'Contacts' | transloco }}</a></li>
          </ul>
        </tui-drawer>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">
      <section class="advertisement">
        <div class="advertisement__info">
          <div class="advertisement__info__title">
            <p>{{ 'The-most-delicious-pizza-in-the-world' | transloco }}</p>
            <p>{{ 'Only-at-Pizza-Chef' | transloco }}</p>
          </div>
          <div class="advertisement__info__img">
            <img src="assets/images/landing/pizza-big.webp" alt="pizza-big">
          </div>
          <div class="advertisement__info__items">
            <div class="advertisement__info__item">
              <div class="img">
                <img src="assets/images/landing/icon-ear.webp" alt="icon-ear">
              </div>
              <div class="info">
                <div class="info__title">{{ 'The-best-dough' | transloco }}</div>
                <div class="info__subtitle">{{ 'The-best-dough-subtitle' | transloco }}</div>
              </div>
            </div>
            <div class="advertisement__info__item">
              <div class="img">
                <img src="assets/images/landing/icon-cap.webp" alt="icon-ear">
              </div>
              <div class="info">
                <div class="info__title">{{ 'The-best-chefs' | transloco }}</div>
                <div class="info__subtitle">{{ 'The-best-chefs-subtitle' | transloco }}</div>
              </div>
            </div>
            <div class="advertisement__info__item">
              <div class="img">
                <img src="assets/images/landing/icon-okey.webp" alt="icon-ear">
              </div>
              <div class="info">
                <div class="info__title">{{ 'Quality-assurance' | transloco }}</div>
                <div class="info__subtitle">{{ 'Quality-assurance-subtitle' | transloco }}</div>
              </div>
            </div>
            <div class="advertisement__info__item">
              <div class="img">
                <img src="assets/images/landing/icon-recipe.webp" alt="icon-ear">
              </div>
              <div class="info">
                <div class="info__title">{{ 'Selected-recipes' | transloco }}</div>
                <div class="info__subtitle">{{ 'Selected-recipes-subtitle' | transloco }}</div>
              </div>
            </div>
          </div>
          <div class="advertisement__info__button">
            <lib-button (onClick)="scroll(pizza)" size="lg" [label]="'Select-pizza' | transloco"></lib-button>
          </div>
        </div>
        <div class="advertisement__img">
          <img src="assets/images/landing/pizza-big.webp" alt="pizza-big">
        </div>
      </section>
      <section #pizza id="pizzas" class="select-pizzas">
        <div class="select-pizzas__title">{{ 'Choose-your-favorite-pizza' | transloco }}</div>
        <div #lightgalleryContainer class="select-pizzas__items">
          @if (!skeleton()) {
            @for (card of cards(); track card.img) {
              <app-pizza-card [card]="card"></app-pizza-card>
            }

          } @else {
            @for (item of [1, 2, 3, 4, 5, 6, 7, 8]; track item) {
              <lib-skeleton width="284px" height="356px" borderRadius="8px"></lib-skeleton>
            }
          }
        </div>
      </section>
      <section #placeOrder class="place-order">
        <div class="place-order__info">
          <div class="place-order__info__title">
            <p>{{ 'Stop-thinking' | transloco }}!</p>
            <p>{{ 'Stop-thinking-subtitle' | transloco }}!</p>
          </div>
          <div class="place-order__info__description">{{ 'Stop-thinking-description' | transloco }}!</div>
        </div>
        <div class="place-order__form" [formGroup]="form">
          <lib-input [color]="form.controls.name.invalid && !form.controls.name.untouched ? 'error' : 'primary'"
                     [forbidDot]="true" formControlName="name" [placeholder]="'Your-name' | transloco"
          ></lib-input>
          <lib-input [color]="form.controls.address.invalid && !form.controls.address.untouched ? 'error' : 'primary'"
                     formControlName="address" [placeholder]="'Delivery-address' | transloco"></lib-input>
          <lib-input [color]="form.controls.phone.invalid && !form.controls.phone.untouched ? 'error' : 'primary'"
                     type="tel" formControlName="phone" [placeholder]="'Phone' | transloco"></lib-input>
          <lib-button (onClick)="sendForm(success)" size="lg" [label]="'Place-an-order' | transloco"></lib-button>
          <ng-template #success let-observer>
            <div class="success-dialog">
              <p>Спасибо за заказ!</p>
              <div class="success-dialog__close">
                <lib-button label="Хорошо" (onClick)="observer.complete()" size="lg"></lib-button>
              </div>
            </div>
          </ng-template>
        </div>
      </section>
    </div>
  </main>

</div>


