
.container {
  margin: auto;
  max-width: 1200px;

  @media(max-width: 1360px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.header {
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 15px 0 #98989833;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &__title {
      width: 84px;
      font-weight: 900;
      color: var(--bed-rest-orange);
      font-size: 24px;
      letter-spacing: 1.44px;
      line-height: 28.8px;

      @media(max-width: 720px) {
        font-size: 18px;
      }

    }
  }

  &__nav {
    width: 790px;

    .burger-menu {
      display: none;

      @media(max-width: 610px) {
        display: block;
      }
    }

    @media(max-width: 1210px) {
      width: fit-content;
    }

    ul {
      display: flex;
      gap: 52px;

      @media(max-width: 610px) {
        display: none;
      }

      @media(max-width: 775px) {
        gap: 12px;
      }

      a {
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.32px;
        line-height: 16px;
        color: var(--gray-orange-77);

        &:hover {
          color: var(--gray-brown);
        }
      }
    }

  }
}
main {
  width: 100%;
  background-image: url('/assets/images/landing/pizza-piece-big.webp');
  background-repeat: no-repeat;
  background-position: right 220px bottom ;

  @media(max-width: 1750px) {
    background-position: right 100px bottom ;
  }

  @media(max-width: 1520px) {
    background-position: right 30px bottom ;
  }

  @media(max-width: 1360px) {
    background-position: right 0 bottom ;
    background-size: 350px;
  }

  @media(max-width: 1210px) {
    background-image: none;
  }
}
.advertisement {
  padding-top: 128px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 1210px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media(max-width: 775px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 46px;

    @media(max-width: 1210px) {
      width: 100%;
      align-items: center;
    }

    @media(max-width: 720px) {
      gap: 20px;
    }


    &__title {
      font-weight: 800;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: -3.22%;

      @media(max-width: 720px) {
        font-size: 35px;
      }

      @media(max-width: 610px) {
        font-size: 30px;
        line-height: 35px;
      }

      @media(max-width: 476px) {
        font-size: 25px;
      }

      @media(max-width: 476px) {
        font-size: 20px;
      }

      p:first-child {
        color: var(--gray-orange-77);
      }

      p:last-child {
        color: var(--bed-rest-orange);
      }
    }

    &__img {
      display: none;

      @media(max-width: 1210px) {
        display: block;
      }

      @media(max-width: 775px) {
        width: 50%
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* две равные колонки */
      gap: 38px;

      @media(max-width: 775px) {
        gap: 10px;
      }

      @media(max-width: 610px) {
        grid-template-columns: repeat(1, 1fr); /* две равные колонки */
      }
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 16px;

      .img {
        min-width: 59px;
        min-height: 59px;
      }

      .info {
        width: 230px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        @media(max-width: 775px) {
          width: fit-content;
        }

        &__title {
          font-weight: 800;
          line-height: 16px;
          letter-spacing: 0.32px;
          text-transform: uppercase;
          color: var(--primary);

          @media(max-width: 720px) {
            font-size: 14px;
          }

          @media(max-width: 610px) {
            font-size: 12px;
          }
        }

        &__subtitle {
          color: var(--gray-orange-77);
          line-height: 16px;
          letter-spacing: 0.7px;
          @media(max-width: 720px) {
            font-size: 12px;
          }
          @media(max-width: 610px) {
            font-size: 10px;
          }
        }

      }
    }

    &__button {
      transform: translateY(14px);
      width: 226px;
      height: 62px;

      @media(max-width: 1210px) {
        width: 650px;
      }

      @media(max-width: 775px) {
        width: 100%;
      }
    }
  }

  &__img {
    display: block;
    @media(max-width: 1210px) {
      display: none;
    }
  }
}
.select-pizzas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 68px;

  @media(max-width: 1210px) {
    padding-top: 30px;
    gap: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -1.95%;
    color: var(--gray-orange-67);

    @media(max-width: 720px) {
      font-size: 30px;
    }

    @media(max-width: 610px) {
      font-size: 25px;
    }

    @media(max-width: 445px) {
      font-size: 20px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    @media(max-width: 1210px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 610px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.place-order {
  padding-top: 242px;
  padding-bottom: 100px;
  display: flex;
  gap: 40px;

  @media(max-width: 1210px) {
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @media(max-width: 775px) {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }


  &__info {
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 410px;

    @media(max-width: 775px) {
      width: 100%
    }

    &__title {
      display: flex;
      flex-direction: column;
      font-weight: 800;
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 0;


      p:first-child {
        color: var(--orange-60);
      }

      p:last-child {
        letter-spacing: 0.5px;
        color: var(--gray-orange-77);
      }
    }

    &__description {
      text-align: justify;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      max-width: 384px;
      color: var(--gray-orange-77);
      @media(max-width: 775px) {
        display: none;
      }
    }
  }

  &__form {
    margin-top: 52px;
    margin-left: 58px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 332px;
    max-width: 332px;

    @media(max-width: 775px) {
      margin-top: 5px;
      margin-left: 0;
      width: 100%;
      min-width: auto;
      max-width: none;
    }
  }
}

.drawer {
  top: 0;
  border-radius: 0;
  inline-size: 20rem;
}

.header {
  position: sticky;
}
.drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drawer ul li a {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-orange-77);
}

.my-ok-btn {
  background: var(--bed-rest-orange);
  color: white;
  font-weight: 600;
}


::ng-deep .success-dialog {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 35px;
    font-weight: 800;
    color: var(--dark-brown);
  }
}
