
.container {
  margin: auto;
  max-width: 1200px;
}

.header {
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 15px 0 #98989833;


  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &__title {
      width: 84px;
      font-weight: 900;
      color: var(--bed-rest-orange);
      font-size: 24px;
      letter-spacing: 1.44px;
      line-height: 28.8px
    }
  }

  &__nav {
    width: 790px;
    ul {
      display: flex;
      gap: 52px;

      a {
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.32px;
        line-height: 16px;
        color: var(--gray-orange-77);

        &:hover {
          color: var(--gray-brown);
        }
      }
    }

  }
}
main {
  background-image: url('/assets/images/landing/pizza-piece-big.webp');
  background-repeat: no-repeat;
  background-position: right 220px bottom ;
}
.advertisement {
  padding-top: 128px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 46px;

    &__title {
      font-weight: 800;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: -3.22%;

      p:first-child {
        color: var(--gray-orange-77);
      }

      p:last-child {
        color: var(--bed-rest-orange);
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* две равные колонки */
      gap: 38px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 16px;

      .img {
        min-width: 59px;
        min-height: 59px;
      }

      .info {
        width: 230px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        &__title {
          font-weight: 800;
          line-height: 16px;
          letter-spacing: 0.32px;
          text-transform: uppercase;
          color: var(--primary);
        }

        &__subtitle {
          color: var(--gray-orange-77);
          line-height: 16px;
          letter-spacing: 0.7px;
        }

      }
    }

    &__button {
      transform: translateY(14px);
      width: 226px;
      height: 62px;
    }
  }
}
.select-pizzas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 68px;

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -1.95%;
    color: var(--gray-orange-67);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* две равные колонки */
    gap: 12px;
  }
}
.place-order {
  padding-top: 242px;
  padding-bottom: 100px;
  display: flex;
  gap: 40px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 410px;

    &__title {
      display: flex;
      flex-direction: column;
      font-weight: 800;
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 0;


      p:first-child {
        color: var(--orange-60);
      }

      p:last-child {
        letter-spacing: 0.5px;
        color: var(--gray-orange-77);
      }
    }

    &__description {
      text-align: justify;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      max-width: 384px;
      color: var(--gray-orange-77);
    }
  }

  &__form {
    margin-top: 52px;
    margin-left: 58px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 332px;
    max-width: 332px;
  }
}
