h1 {
  color: var(--bed-rest-orange);
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: var(--gray-orange-77);
  font-size: 12px;
  width: 384px;
}
