.pizza-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 284px;
  height: 356px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 #98989833;


  &__img {
    min-width: 214px;
    min-height: 152px;

    img {
      min-width: 214px;
      min-height: 152px;
    }
  }

  &__title {
    color: var(--dark-brown);
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -2.73%;

    text-align: center;

  }

  &__subtitle {
    width: 244px;
    color: var(--dark-gray-60);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
  }

  &__button {
    margin-top: auto;
    width: 244px;
    justify-self: flex-end;
  }
}
