:root {
  --primary: #f5ae46;
  --white: #ffffff;

  --dark-gray-87: #020202;
  --dark-gray-60: #181919;

  --dark-brown: #352307;
  --gray-brown: #9d6a26;

  --gray-orange-87: #b48f5a;
  --gray-orange-77: #b4905a;
  --gray-orange-67: #b89665;
  --gray-orange-57: #c6a676;

  --orange-87: #f6af47;
  --orange-60: #f5ae46;
  --bed-rest-orange: #f7c278;

  --black-opacity_04: #000A120A;
  --white-opacity_60: #FFFFFF99;
  --white-opacity_74: #FFFFFFBD;

  --spinner-background-color: rgba(0, 0, 0, 0.2);
}


/* Arimo Regular */
@font-face {
  font-family: "Arimo";
  src: url("/assets/fonts/Arimo/Arimo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Arimo Italic */
@font-face {
  font-family: "Arimo";
  src: url("/assets/fonts/Arimo/Arimo-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Arimo Medium */
@font-face {
  font-family: "Arimo";
  src: url("/assets/fonts/Arimo/Arimo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Arimo Medium Italic */
@font-face {
  font-family: "Arimo";
  src: url("/assets/fonts/Arimo/Arimo-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Arimo SemiBold */
@font-face {
  font-family: "Arimo";
  src: url("/assets/fonts/Arimo/Arimo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Arimo SemiBold Italic */
@font-face {
  font-family: "Arimo";
  src: url("/assets/fonts/Arimo/Arimo-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Arimo Bold */
@font-face {
  font-family: "Arimo";
  src: url("/assets/fonts/Arimo/Arimo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Arimo Bold Italic */
@font-face {
  font-family: "Arimo";
  src: url("/assets/fonts/Arimo/Arimo-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
