:root {
  --primary: #FFAF18;
  --white: #ffffff;

  --dark-gray-87: #020202;
  --dark-gray-60: #181919;

  --dark-brown: #352307;
  --gray-brown: #9d6a26;

  --gray-orange-87: #b48f5a;
  --gray-orange-77: #b4905a;
  --gray-orange-67: #b89665;
  --gray-orange-57: #c6a676;

  --orange-87: #f6af47;
  --orange-60: #f5ae46;
  --bed-rest-orange: #f7c278;

  --black-opacity_04: #000A120A;
  --white-opacity_60: #FFFFFF99;
  --white-opacity_74: #FFFFFFBD;

  --spinner-background-color: rgba(0, 0, 0, 0.2);

  --success-color: #28a745;
  --success-focus-color: #1e7e34;

  --error-color: #dc3545;
  --error-focus-color: #c82333;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_24pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}


/* Arimo Regular */
/*@font-face {*/
/*  font-family: "Arimo";*/
/*  src: url("/assets/fonts/Arimo/Arimo-Regular.ttf") format("truetype");*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*!* Arimo Italic *!*/
/*@font-face {*/
/*  font-family: "Arimo";*/
/*  src: url("/assets/fonts/Arimo/Arimo-Italic.ttf") format("truetype");*/
/*  font-weight: 400;*/
/*  font-style: italic;*/
/*  font-display: swap;*/
/*}*/

/*!* Arimo Medium *!*/
/*@font-face {*/
/*  font-family: "Arimo";*/
/*  src: url("/assets/fonts/Arimo/Arimo-Medium.ttf") format("truetype");*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*!* Arimo Medium Italic *!*/
/*@font-face {*/
/*  font-family: "Arimo";*/
/*  src: url("/assets/fonts/Arimo/Arimo-MediumItalic.ttf") format("truetype");*/
/*  font-weight: 500;*/
/*  font-style: italic;*/
/*  font-display: swap;*/
/*}*/

/*!* Arimo SemiBold *!*/
/*@font-face {*/
/*  font-family: "Arimo";*/
/*  src: url("/assets/fonts/Arimo/Arimo-SemiBold.ttf") format("truetype");*/
/*  font-weight: 600;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*!* Arimo SemiBold Italic *!*/
/*@font-face {*/
/*  font-family: "Arimo";*/
/*  src: url("/assets/fonts/Arimo/Arimo-SemiBoldItalic.ttf") format("truetype");*/
/*  font-weight: 600;*/
/*  font-style: italic;*/
/*  font-display: swap;*/
/*}*/

/*!* Arimo Bold *!*/
/*@font-face {*/
/*  font-family: "Arimo";*/
/*  src: url("/assets/fonts/Arimo/Arimo-Bold.ttf") format("truetype");*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*!* Arimo Bold Italic *!*/
/*@font-face {*/
/*  font-family: "Arimo";*/
/*  src: url("/assets/fonts/Arimo/Arimo-BoldItalic.ttf") format("truetype");*/
/*  font-weight: 700;*/
/*  font-style: italic;*/
/*  font-display: swap;*/
/*}*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: none;
}

/* 5. Улучшаем рендеринг текста */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #000;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

